<div class="container mt-5">
    <div class="clas">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-body text-center">
                        <span class="titulo">Listado de productos</span>
                        <button class="btn btn-success float-end" routerLink="/crear-producto">Nuevo</button>
                        <table *ngIf="listProductos.length > 0" class="table table-striped mt-3">
                            <thead>
                              <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">Ubicación</th>
                                <th scope="col">Precio</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let producto of listProductos">
                                <th>{{producto.nombre}}</th>
                                <th>{{producto.categoria}}</th>
                                <th>{{producto.ubicacion}}</th>
                                <th>{{producto.precio | currency: 'USD'}}</th>
                                <td>
                                  <i [routerLink]="['/editar-producto',producto._id]" class="fas fa-edit text-primary"></i>
                                  <i (click)="eliminarProducto(producto._id)"  class="fas fa-trash text-danger"></i>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <h5 *ngIf="listProductos.length === 0" class="text-align-center">
                            No hay productoa para mostrar
                          </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>